<div class="container">

  <h1> Restaurant List </h1>

  <div class="row">
    <% @restaurants.each do |restaurant|%>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
          <p class="card-text">
            <%= "#{restaurant.category.capitalize!} || #{restaurant.address}" %>
          </p>
          <%= link_to 'View Details', restaurant_path(restaurant), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
      <% end %>
  </div>

  <%= link_to 'Add New Restaurant', new_restaurant_path(), class: 'btn btn-primary' %>
</div>
