<div class="container">
  <h1> Add New Restaurant </h1>

  <%= render "form", restaurant: @restaurant %>

  <div class= "form">
      <%= link_to '< Back', restaurants_path(), class: 'btn btn-primary' %>
  </div>
</div>
